<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/" lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
	<wicket:extend>

		<div class="panel panel-success">
			<div class="panel-heading lead">eALPSからログアウトしました．</div>
			<div class="panel-body">
				<p>eALPS IdP からログアウトするために下記のボタンをクリックしてください．</p>
				<form type="submit" target="_self" action="https://idp-cloud.ealps.shinshu-u.ac.jp/idp/profile/Logout">
					<input type="hidden" name="return" value="https://acsu.shinshu-u.ac.jp/ActiveCampus/module/Login.php?mode=Logout">
					<button class="btn btn-danger" >eALPS IdPからログアウト</button>
				</form>
			</div>
		</div>

		<!-- div wicket:id="attentionPanel"></div -->
		
	</wicket:extend>
	</body>
</html>
