<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/" lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
	<wicket:extend>

		<div class="panel panel-success">
			<div class="panel-heading lead">eALPSからログアウトしました．</div>
			<div class="panel-body">
				<p>ACSUからログアウトする場合は&nbsp;<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span><a href="https://idp-cloud.ealps.shinshu-u.ac.jp/idp/logout.jsp?return=https%3a%2f%2facsu%2eshinshu%2du%2eac%2ejp%2fActiveCampus%2fmodule%2fLogin%2ephp%3fmode%3dLogout" target="_self">こちら</a><span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>&nbsp;をクリックしてください．</p>
			</div>
		</div>

		<div wicket:id="attentionPanel"></div>

		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				// ToolTips
				$('[data-toggle="tooltip"]').tooltip({container: 'body'});
			});
		</script>
	</wicket:extend>
	</body>
</html>
