<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/" lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
	<wicket:extend>

		<div class="panel panel-success">
			<div class="panel-heading lead">
				eALPSにログインする
			</div>
			<div class="panel-body">
				<button class="btn btn-primary" wicket:id="citizenSchedule">
					<span wicket:id="citizenScheduleLabel"></span>
				</button>
			</div>
			<div class="panel-footer">
				<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>&nbsp;このページをブックマークすると，より簡単にアクセスできます．
			</div>
		</div>

		<!--<div wicket:id="attentionPanel"></div>-->

		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				// ToolTips
				$('[data-toggle="tooltip"]').tooltip({container: 'body'});
			});
		</script>
	</wicket:extend>
	</body>
</html>
