<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
	<wicket:extend>

		<div wicket:id="informationPanel"></div>

		<div wicket:id="schedulePanel"></div>

		<div wicket:id="attentionPanel"></div>

		<div class="panel panel-success hidden">
			<div class="panel-heading lead">デバッグウィンドウ</div>
			<p>headerNames:<span wicket:id="headerNames"></span></p>
			<p>uid:<span wicket:id="uid"></span></p>
			<p>j_username:<span wicket:id="j_username"></span></p>
			<p>userId:<span wicket:id="userId"></span></p>
		</div>

		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				// ToolTips
				$('[data-toggle="tooltip"]').tooltip({container: 'body'});
			});
		</script>
	</wicket:extend>
	</body>
</html>
